<footer class="footer-base footer-parallax bg-white">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 footer-center">
          <hr class="space s" />
          <img width="180" src="/assets/images/logo-01.png" alt="" />
          <hr class="space m" />
          <hr class="space s" />
          <div class="btn-group social-group btn-group-icons">
            <a target="_blank" href="https://www.facebook.com/lesdeuxpontsoudendijk/"><i class="fa fa-facebook"></i></a>
            <!-- <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a> -->
            <a target="_blank" href="https://www.instagram.com/lesdeuxpontsoudendijk/"><i
                class="fa fa-instagram"></i></a>
            <!-- <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a> -->
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-md-12 copy-text">
        © 2019 Les Deux Ponts - info@lesdeuxponts.nl - 0229-541275 - Slimdijk 2, 1631 DB Oudendijk - Website
        {{ site.data.translations['by'][page.lang] }} <a href="https://craftcreative.nl/" target="_blank">Craft
          Creative</a>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="/assets/includes/iconsmind/line-icons.min.css" />
  <script async src="/assets/includes/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/imagesloaded.min.js"></script>
  <script type="text/javascript" src="/assets/js/parallax.min.js"></script>
  <script type="text/javascript" src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
  <script type="text/javascript" async src="/assets/js/isotope.min.js"></script>
  <script type="text/javascript" async src="/assets/includes/php/contact-form.js"></script>
  <script type="text/javascript" async src="/assets/js/jquery.progress-counter.js"></script>
  <script type="text/javascript" async src="/assets/js/jquery.tab-accordion.js"></script>
  <script type="text/javascript" async src="/assets/includes/bootstrap/js/bootstrap.popover.min.js"></script>
  <script src="/assets/js/social.stream.min.js"></script>
  <script src="/assets/js/jquery.slimscroll.min.js"></script>
  <script src="/assets/js/smooth.scroll.min.js"></script>
  <script src="/assets/js/google.maps.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCJ23msMTkj3Y3bDbzftx5mI5wBdc7-bIg"></script>
</footer>
{% include cookie-consent.html -%}