<div class="section-empty">
  <div class="container content hours">
    <div class="row">
      <div class="col-md-1 text-center-sm">
        <hr class="space xs hidden-sm" />
        <img src="../assets/images/clock.gif" alt="" />
      </div>
      <div class="col-md-2 col-sm-12 text-center-sm">
        <hr class="space xs hidden-sm" />
        <div class="title-base text-left text-center-sm">
          <hr />
          <h2>{{ site.data.translations['visit'][page.lang] }}</h2>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 text-center-sm">
        <table class="table table-hover table-large">
          <thead>
            <tr>
              <th>{{ site.data.translations['day'][page.lang] }}</th>
              <th>{{ site.data.translations['monday'][page.lang] }}</th>
              <th>{{ site.data.translations['tuesday'][page.lang] }}</th>
              <th>{{ site.data.translations['wednesday'][page.lang] }}</th>
              <th>{{ site.data.translations['thursday'][page.lang] }}</th>
              <th>{{ site.data.translations['friday'][page.lang] }}</th>
              <th>{{ site.data.translations['saturday'][page.lang] }}</th>
              <th>{{ site.data.translations['sunday'][page.lang] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{ site.data.translations['from'][page.lang] }}</th>
              <td>{{ site.data.translations['closed'][page.lang] }}</td>
              <td>{{ site.data.translations['closed'][page.lang] }}</td>
              <td>10.30</td>
              <td>10.30</td>
              <td>10.30</td>
              <td>10.30</td>
              <td>10.30</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover table-collapsed">
          <th>{{ site.data.translations['day'][page.lang] }}</th>
          <th>{{ site.data.translations['from'][page.lang] }}</th>
          <tr>
            <th>{{ site.data.translations['monday'][page.lang] }}</th>
            <td>{{ site.data.translations['closed'][page.lang] }}</td>
          </tr>
          <tr>
            <th>{{ site.data.translations['tuesday'][page.lang] }}</th>
            <td>{{ site.data.translations['closed'][page.lang] }}</td>
          </tr>
          <tr>
            <th>{{ site.data.translations['wednesday'][page.lang] }}</th>
            <td>10.30</td>
          </tr>
          <tr>
            <th>{{ site.data.translations['thursday'][page.lang] }}</th>
            <td>10.30</td>
          </tr>
          <tr>
            <th>{{ site.data.translations['friday'][page.lang] }}</th>
            <td>10.30</td>
          </tr>
          <tr>
            <th>{{ site.data.translations['saturday'][page.lang] }}</th>
            <td>10.30</td>
          </tr>
          <tr>
            <th>{{ site.data.translations['sunday'][page.lang] }}</th>
            <td>10.30</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>