<div class="section-empty">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="img-box adv-img adv-img-full-content">
                    <div class="img-box">
                        <img src="{{ page.imageBoxOneImage }}" alt="{{ page.imageBoxOneImageAlt }}" />
                    </div>
                    <a href="{{ page.imageBoxOneLink }}" class="caption-bg img-box">
                        <div class="caption">
                            <div class="inner">
                                <h2>{{ page.imageBoxOneHeading }}</h2>
                                <p class="sub">{{ page.imageBoxOneDescription }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-box adv-img adv-img-full-content">
                    <div class="img-box">
                        <img src="{{ page.imageBoxTwoImage }}" alt="{{ page.imageBoxTwoImageAlt }}" />
                    </div>
                    <a href="{{ page.imageBoxTwoLink }}" class="caption-bg img-box">
                        <div class="caption">
                            <div class="inner">
                                <h2>{{ page.imageBoxTwoHeading }}</h2>
                                <p class="sub">{{ page.imageBoxTwoDescription }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-box adv-img adv-img-full-content">
                    <div class="img-box">
                        <img src="{{ page.imageBoxThreeImage }}" alt="{{ page.imageBoxThreeImageAlt }}" />
                    </div>
                    <a href="{{ page.imageBoxThreeLink }}" class="caption-bg img-box">
                        <div class="caption">
                            <div class="inner">
                                <h2>{{ page.imageBoxThreeHeading }}</h2>
                                <p class="sub">{{ page.imageBoxThreeDescription }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="img-box adv-img adv-img-full-content">
                    <div class="img-box">
                        <img src="{{ page.imageBoxFourImage }}" alt="{{ page.imageBoxFourImageAlt }}" />
                    </div>
                    <a href="{{ page.imageBoxFourLink }}" class="caption-bg img-box">
                        <div class="caption">
                            <div class="inner">
                                <h2>{{ page.imageBoxFourHeading }}</h2>
                                <p class="sub">{{ page.imageBoxFourDescription }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>